/* Global */
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

/* Hero */



/* Footer */
footer {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
  margin-top: 40px;
}
footer .text-center {
  text-align: center;
  color: #555;
}
